:root {
  --b-radius: 8px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #2D2E36;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 40%;
  min-height: 250px;
  background-color: #383A45;
  border-radius: var(--b-radius);
  display: flex;
  justify-content: space-evenly;
  padding: 30px 27px;
}

.imagem {
  width: 27%;
  min-height: 100%;
  margin: auto;
}

.imagem img {
  width: 100%;
  border-radius: var(--b-radius);
}

.main-content {
  width: 67%;
  min-height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing:0;
}

p {
  color: #8D91A6;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing:0;
}

a {
  margin-top: 5%;
}

@media screen and (max-width: 1440px) {
  .card{
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .card{
    flex-direction: column;
    width: 92%;
  }

  .imagem {
    width: 100%;
  }

  .main-content {
    width: 100%;
  }
}

@media only screen and (min-width: 950px) {
    
    html {
        font-size: 18px;
    }
    
}